/*Réglage des problèmes de dimensions engendrés par les paddings dans les div*/
* {
  box-sizing: border-box;
}
/* Déclaration des variables ::-webkit-meter-even-less-good-value */
/* On prévoit un format d'affichage pour les champs en erreur */
input.erreur {
  border: 1px solid #FF0000;
}
footer {
  margin-top: 15em;
}
#copyright p {
  padding-bottom: 0px;
  text-align: right;
  color: #F39D6A;
  font-size: 0.9em;
  margin-right: 2em;
}
/* Customization des Breakpoint

/*************************************************************
		Breakpoint 1 : sur téléphone (petit écran)
*************************************************************/
/*************************************************************
		Breakpoint 2 : sur tablette (styles spécifiques)
*************************************************************/
/*************************************************************
		Breakpoint 2 : sur tablette (styles généraux)
*************************************************************/
/*************************************************************
		Breakpoint 3 : sur ordinateur de bureau
*************************************************************/
