/*************************************************************************************************
		réglage des problèmes de dimensions engendrés par les paddings dans les div
*************************************************************************************************/
//
* {
	box-sizing: border-box;
}


/*************************************************************************************************
		déclaration des polices de caractères utilisées dans le projet
*************************************************************************************************/
//
@font-face {
    font-family: montez; // pour écriture manuscrite
    src: url('../fonts/Montez.ttf');
}

@font-face {
    font-family: erazure; // pour écriture manuscrite issue de la charte du logo pour le texte en général
    src: url('../fonts/erazure.ttf');
}

@font-face {
    font-family: champagneLimousine; // issue de la charte du logo pour le texte en général

    src: url('../fonts/Champagne&Limousines.ttf');
}

@font-face {
    font-family: decoTech; // issue de la charte du logo pour essai

    src: url('../fonts/DecoTechTL.ttf');
}


/*************************************************************************************************
		déclaration des variables de couleur
*************************************************************************************************/
//
@orange: #F39D6B;
//@bleuHover: #558184;
@bleuHover: #25383a;
@bleuNavbar: #182526;
@beige: #EEE6D3;
@brun: #977F67;
@gris: #5A5955;
@grisClair: #9d9d9d;


/*************************************************************************************************
		format d'affichage pour les champs en erreur dans les formulaires
*************************************************************************************************/
//
input.erreur {
    border:1px solid #FF0000;
}

/*************************************************************************************************
		on prévoit une class de debugage très voyante
*************************************************************************************************/
//

.debug {
	color:blue;
	font-size: 35px;
	font-family: arial;

}

/*************************************************************************************************
		réglages pour le corps de la page en général
*************************************************************************************************/
//
body {

	font-family: 'champagneLimousine',Helvetica, sans-serif;
	color: deeppink;
	background-color: @beige;
}

/*************************************************************************************************
		Header
*************************************************************************************************/
//

header {

	background-color: @bleuNavbar;
}


/*************************************************************************************************
		mise en forme de la div contenant le logo en tête de page
*************************************************************************************************/
//
#logo {
	
	z-index: 1;
	margin: 2vh;
}



	
/*************************************************************************************************
		barre de menu du haut fixe avec comportement affix pour éviter le padding sur le main et les breakpoint
*************************************************************************************************/
//

.affix{
  width:100%;
  top:0;
  z-index: 10;
}

/*************************************************************************************************
		surcharge bootstrap pour permettre de centrer une div dans la largeur
*************************************************************************************************/
//

.col-centered {
    float: none;
    margin: 0vh auto;
}

nav {
	background-color: @bleuNavbar;
	font-family: 'champagneLimousine';
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 2rem;
	position: fixed;
	z-index: 1;

	form {
    /* min-width: 15rem; */
    /* max-width: 50rem; */
    margin-top: 3vh;
    margin-bottom: 1vh;
	}

	
	}

// surcharge à Bootstrap pour éviter les arrondis sur la barre de menu de navigation



.navbar {
	
	// surcharge à Bootstrap : pas de border et couleur différente
	border-color: rgba(255, 255, 255, 0);
	margin-bottom: 0px;
	// background-color: @gris;
	// surcharge à Bootstrap : positionnement à gauche du menu sandwich
	.navbar-toggle {
		float: right;
		margin-top: 3vh;
		margin-right: 4vh;
		margin-bottom: 3vh;
			.icon-bar {
			background-color:@orange;
			}
	}
	.navbar-collapse, .navbar-form {
		border-color: @orange;
	}

	.navbar-nav {

		text-align: center;
		.dropdown-menu  {
			background-color: @bleuHover;
			min-width: 60px;
			max-width: 200px;
			padding: 5px 0;
    		margin: 5px 0 0;
    		border: 1px solid @orange;
    		border-radius: 6px;
    		font-size: 2rem;

			> li {

				float: left;
				display: block;
		 		a {
		 			color: @grisClair;
		 			letter-spacing: 2px;
					font-weight: bold;
		
		 		}
		 		// écriture couleur orange lors de la sélection des menus
		 		// background bleu
		 		a:focus, a:hover{
					color: @orange;
		 			background-color: @bleuHover;
		 			letter-spacing: 2px;
					font-weight: bold;
		 		}
		 		}
		 		>.active{
					>a,>a:focus, >a:hover {
						color:  @orange;
						background-color: @bleuHover;
						letter-spacing: 2px;
    					font-weight: bold;
					}
		 		}
			 	i.fa.fa-facebook-square {
		    	font-size: 120%;

				}
		}


	 	> li {
			float: none;
			display: inline-block;
	 		a {
	 			color: @grisClair;
	 		}
	 		// écriture couleur orange lors de la sélection des menus
	 		// background bleu
	 		a:focus, a:hover{
				color: @orange;
	 			background-color: @bleuHover;
	 		}
	 	}
	 	>.active{
				>a,>a:focus, >a:hover {
					color:  @orange;
					background-color: @bleuHover;
				}
	 	}
	 	i.fa.fa-facebook-square {
    	font-size: 120%;
		}
	 }

	.input-group {
		.form-control {
			font-family: 'champagneLimousine', Helvetica, sans-serif;
			font-style: italic;
			border-style:none;
			background-color: @bleuHover;
			-webkit-transition: -webkit-box-shadow ease-in-out .15s;
			-o-transition: box-shadow ease-in-out .15s;
			transition: box-shadow ease-in-out .15s;
		}
	}	

	.input-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-style: none;
    color:@orange;
	}

	.input-group-btn {
			.btn-default {
		    background-color: @bleuHover;
		    border-style: none;
		    font-size: 1.55rem;
		    position: relative;
    		border-top-right-radius: 4px;
    		border-bottom-right-radius: 4px;
			}
			    
	}
}


	div#zoneRecherche {
		margin-top: 3vh;
		// Couleur orange pour le symbole de la loupe dans le champ de recherche
		.glyphicon-search:before {
			color:@orange;
			}

}

// surcharge à Bootstrap : plus de margin pour écarter l'image de la librairie accueil du filet orange

.btn-group, .btn-group-vertical {

    margin-top: 1vh;
}

// surcharge à Bootstrap : moins de padding

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

div#navbar-collapse-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

ul.dropdown-menu>li {
    text-align: center !important;
}


// #mainSection {
//   position:relative;
//   top:10vh;

// }

// postionnement de la barre de navigation 
// le logo disparaît quand on scroll down 
// et le menu de navigation reste visible

/*************************************************************************************************
		Carousel Nouveautés
*************************************************************************************************/
//

#carouselNouveautes {
	margin-top: 3vh;
	height: 600px;
	z-index: -1;

	section {
	width: 80%;
	height: 25em;
	margin: 0 auto;
	position: relative;
	}

	li {
	// width: 500px;
	// height: 281px;
	background: #333;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden;
	}

	img {
		transform: scale(1);
	}

	li p {
	color: white;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	margin-top: 1.175em;
	}

	.items {
	position: absolute;
	}

	.main-pos {
	margin-left: 2em !important;
	z-index: 3000;
	/*background-image: url('http://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
	}

	.left-pos {
	opacity: .3;
	margin-left: -17em !important;
	z-index: 1000;
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	transform: scale(.75);
	}

	.back-pos {
	margin-left: 2em !important;
	opacity: .05;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	transform: scale(.5);
	}

	.right-pos {
	opacity: .3;
	margin-left:  21em !important;
	z-index: 1000;
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	transform: scale(.75);
	}

	span {
	position: relative;
	margin: 0 auto;
	left: 17em;
	top: 40em;
	}
}

/*************************************************************************************************
		effet Parallax
*************************************************************************************************/
//
.parallax {
	// On créé l'effet parallax
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1; // permet à l'image de passer sous le logo et la barre de navigation
}

/*************************************************************************************************
		texte apparaissant sur fond estompé
*************************************************************************************************/
//


.parallaxRideau {
	background-color: @bleuHover;
	color: white !important;
	opacity:0.9;
    padding: 1% 2%;
  	
}

.blocText {
	font-family: 'champagneLimousine', Helvetica, sans-serif;
  	font-size: 2vh;
	color: @grisClair;
	h2 {
		font-family: 'erazure', cursive, sans-serif;
		font-size: 4vh;
		letter-spacing: 1px;
		color:@orange;
  		margin-top: 1.5rem;
  		margin-bottom: 1rem;
	}
	label {
		font-size: 2vh;
		color:@grisClair;
		font-weight: bold;
	}

	ul {
		padding:0;
	}

	li {
		list-style: none;
	}
}

#bgAccueil {
	background-image: url('../img/commun/bdAccueil.jpg');

}

#bgBottomAccueil {
	background-image: url('../img/commun/vueCpFacade.jpg');
	height: 140vh;
}

#bgLaLibrairie {
	background-image: url('../img/commun/bdLaLibrairie.jpg');
	height:200vh;
}


#texteAccueil {
	margin: 15% 0;
}


.nosEspaces {

	padding-top:10%;

}

.videTempo {
	height:250px;
}



/*************************************************************************************************
		format d'affichage des formulaires 
*************************************************************************************************/
//
#formUserFieldset {


	legend {
		color: @orange;
		border-bottom: 1px solid @orange;
	}

	input {
		color: black;
		width: 54%;
		background-color: @brun;
		border-style: none;
	}

	.btn-librairie-form {
	    color: black;
		background-color: @brun;
		border-style: none;
	}

	.btn-librairie-form:hover {
		color: black;
		background-color: @brun;
		box-shadow: 0 0 10px @orange;
		// on augmente sensiblement la taille du bouton
		-ms-transform: scale(2,3); /* IE 9 */
    	-webkit-transform: scale(2,3); /* Safari */
   		transform: scale(1.1); /* Standard syntax */
   		// on déplace sensiblement le bouton vers la droite pour compenser l'augmentation de taille
   		 -ms-transform: translate(2px,0); /* IE 9 */
	    -webkit-transform: translate(2px,0); /* Safari */
	    transform: translate(2px,0); /* Standard syntax */

	}

	// surcharge Bootstrap : on change la couleur des placeholder pour plus de lisibilité

	::-webkit-input-placeholder {
	   color: @grisClair;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: white;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: white;  
	}

	::-ms-input-placeholder {  
	   color: white;  
	}

}

/*************************************************************************************************
		footer et copyright
*************************************************************************************************/
//
footer {
	max-height: 5vh;
	background-color: @bleuNavbar;
	color: @orange;

	#sectionFooter {
	display:inline;
	}
}


/*************************************************************
					CSS Administration
*************************************************************/

#formBook, #formEvent, #formUser {
	display: none;
}

#menuAdmin {
	height: 150px;
}

#menuAdmin div {
	background-color: red;
	padding-left: 10px;
	background-clip: content-box;
		h3 {
			text-align: center;
		}
}

#menuAdmin div:active{
	background-color: darkred;
	background-clip: content-box;
}


/*************************************************************
					CSS Evenement
*************************************************************/

.afficheEvent{
	background-color: lightblue;
}

.afficheAtelier{
	background-color: navy;
	color: white;
}

/*************************************************************
					CSS Contact / Adresse
*************************************************************/

#adresseSection iframe {
	min-height: 40vh;
	padding-left: 0px;
	padding-bottom: 20px;
}

#adresseSection {
	padding: 2vh 0;
	background-color: @bleuHover;
}

#divIframe {
	padding-top: 2vh;
	height : 650px;
}

#sectionFormContact {
	padding: 0px;
	h2 {
		text-align: center;
	}
}

/*************************************************************************************************
		réglages particuliers des Breakpoints pour les différents périphériques 
*************************************************************************************************/
//

// /*************************************************************
// 		Breakpoint 1 : sur téléphone (petit écran) XS
// *************************************************************/
@media only screen and (max-width: 768px) {

	#divIframe {
		padding-top: 5vh;
		height : auto;
	}

		.nav > li > a > img {
		max-width: 70%;
	}

	.navbar .navbar-nav > li {
    float: none;
    display: block;
}

}


/*************************************************************
		Breakpoint 2 : sur tablette (styles généraux) SM
*************************************************************/
@media only screen and (min-width: 769px) and (max-width: 992px) {
		
	
	#logo {
		z-index: 1;
	}

	#divIframe {
		padding-top: 5vh;
		height : auto;
	}
}
	
/*************************************************************
		Breakpoint 3 : sur ordinateur de bureau MD et LG
*************************************************************/
@media only screen and (min-width: 993px) {
	
}
